html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font: 400 "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

[contenteditable]:focus {
  outline: none;
  border-radius: 10px;
  border: 4px dashed #0077ffad;
}

h1, h2, h3, h4 {
  font-family: "Ubuntu", "sans-serif";
}

h1 {
  // Do not use the shorthand property, as in production an extra comma is added and breaks CSS
  font-weight: 500;
  font-size: clamp(3rem, 6.5vw, 10rem);
}

h2 {
  font-weight: 500;
  font-size: clamp(2.3rem, 5vw, 7.5rem);
}

h3 {
  font-weight: 400;
  font-size: clamp(1.8rem, 4vw, 6.1rem);
}

h4 {
  font-weight: 400;
  font-size: clamp(1.2rem, 2.5vw, 3.8rem);
}

p {
  font: 300 clamp(1.2rem, 2vw, 3rem) "Roboto", sans-serif;
  font-size: clamp(1.2rem, 2vw, 3rem);
  margin: 0;
}

a {
  text-decoration: none;
}

.backButton {
  font-size: clamp(2.1rem, 4.5vw, 6.5rem);
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: color 0.3s ease-in-out 0s;
  color: #fff;

  &:hover {
    color: #f0f0f0;
  }
}

.darkContainer {
  position: relative;
  background-color: #292929;
  flex: 1;

  h1, h2, h3, h4, h5, p, span, label {
    color: #e4e4e4;
  }

  input[type="form-control"] {
    border-radius: 1vw;
    color: #000;
  }

  button:not(.btn-close) {
    background-color: #57bd84 !important;
    color: #000;
    font-weight: 500;

    &:hover {
      background-color: #4faa76;
    }
  }

  .list-group-item {
    color: #000;

    span {
      color: #000;
      font-weight: 500;
    }
  }
}

.headerWave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 29px;
  }

  .shape-fill {
    fill: #009999;
  }
}

.disabled-div {
  pointer-events: none;
  opacity: 0.2;
  transition: all 0.2s;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
